%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} WeatherMachine
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        %li
          %a{:href => "#"} Inicio
        %li
          %a{:href => "#"} Pronóstico
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Usuario
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Ubicación
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Cerrar sesión
