%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} WeatherMachine
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        %li
          %a{:href => "#"} Inicio
        %li
          %a{:href => "#"} Pronóstico
        - unless current_user.nil?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              - unless current_user.name.nil?
                = current_user.name
              - else
                = current_user.email
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Ubicación
              %li
                = link_to 'Editar Perfil', edit_user_registration_path
              %li.divider{:role => "separator"}
              %li
                = link_to 'Cerrar sesión', destroy_user_session_path, method: :delete
